<header>
  <div class="main-header" style="height: 100px;">
    <div class="row m-0 py-3 px-md-0 h-100">
      <div class="col-12 p-0 d-flex align-items-center justify-content-between">
        <a routerLink="/">
          <img src="assets/images/logo/logo.png" width="150px">
        </a>
        <app-language-selection></app-language-selection>
      </div>
    </div>
  </div>
</header>
<main class="login-page-container py-3 pt-sm-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4 col-sm-6 col-xs-12 login-container">
        <ng-container *ngIf="(errors$ | async) as errors">
        <div class="alert alert-danger mb-3 align-items-center" *ngIf="errors.length">
          <img src="assets/images/svg/alert.svg" width="30px" class="mr-3"/>
          <ng-container *ngFor="let error of errors; let isLast = last;">
            {{ error | translate }}
            <ng-container *ngIf="!isLast"><br></ng-container>
          </ng-container>
        </div>
        </ng-container>
        <form class="login-box" [formGroup]="form" (keydown.enter)="login()">
          <div class="floating-inputs mb-4">
            <div class="floating-placeholder has-icon" [class.floating-placeholder-float]="form.get('username').value">
              <img src="assets/images/svg/avatar.svg" width="30px" class="icon">
              <label>{{ 'MAIN.USERNAME' | translate }} *</label>
              <input type="text" formControlName="username"/>
            </div>
            <div class="floating-placeholder has-icon" [class.floating-placeholder-float]="form.get('password').value">
              <img src="assets/images/svg/padlock.svg" class="icon" width="30px">
              <label>{{ 'MAIN.PASSWORD' | translate }} *</label>
              <input type="password" formControlName="password" class="pr-5">
              <svg version="1.1" class="eye" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path class="eye" d="M510,263.9c2.7-4.9,2.7-10.9,0-15.8C461.1,158.1,365.7,96.9,256,96.9S50.9,158.1,2,248.1c-2.7,4.9-2.7,10.9,0,15.8c48.9,90.1,144.3,151.2,254,151.2S461.1,353.9,510,263.9z M256,378c-67.4,0-122-54.6-122-122s54.6-122,122-122s122,54.6,122,122S323.4,378,256,378z"/>
                      <path class="eye" d="M256,193.8c-5.1,0-10.1,0.6-14.9,1.8c4.9,5.7,7.8,13,7.8,21.1c0,17.8-14.4,32.3-32.3,32.3c-8.1,0-15.4-3-21.1-7.8c-1.2,4.8-1.8,9.8-1.8,14.9c0,34.3,27.8,62.2,62.2,62.2s62.2-27.8,62.2-62.2S290.3,193.8,256,193.8z"/>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="d-flex justify-content-between px-3 mb-4">
            <label class="b2b-checkbox mb-0">
              <input type="checkbox">
              <span></span>{{ 'MAIN.REMEMBER_ME' | translate }}
            </label>
            <a href="">{{ 'MAIN.FORGOT_PASSWORD' | translate }}</a>
          </div>
          <button class="btn btn-login btn-primary mb-3" (click)="login()">
            <ng-container *ngIf="isLoading$ | async else normal">
              {{ 'MAIN.LOGGING_IN' | translate }}
            </ng-container>
            <ng-template #normal>{{ 'MAIN.LOGIN' | translate }}</ng-template>
          </button>
          <a href="" class="btn btn-register">{{ 'MAIN.REGISTER' | translate }}</a>
        </form>
      </div>
    </div>
  </div>
  <div class="login-footer">
    <p>&copy; {{ currentYear }} {{ shop?.name }}. {{ 'MAIN.ALL_RIGHTS_RESERVED' | translate }}</p>
  </div>
</main>
