<div class="top-bar d-none d-md-block">
  <app-language-selection></app-language-selection>
  <span class="float-right px-2">|</span>
  <app-currency-selection></app-currency-selection>
  <!--  {% if topHeaderInfo.salesRepresentativeName != null or topHeaderInfo.salesRepresentativePhone != null or topHeaderInfo.salesRepresentativeEmail != null %}-->
  <!--  <span class="font-weight-500">Temsilciniz:</span>-->
  <!--  {% endif %}-->
  <!--  {% if topHeaderInfo.salesRepresentativeName != null %}-->
  <!--  <span class="pl-2"><i class="ion-ios-person"></i> {{ topHeaderInfo.salesRepresentativeName }}</span>-->
  <!--  {% endif %}-->
  <!--  {% if topHeaderInfo.salesRepresentativePhone != null %}-->
  <!--  <span class="pl-2"><i class="ion-ios-telephone"></i> {{ topHeaderInfo.salesRepresentativePhone }}</span>-->
  <!--  {% endif %}-->
  <!--  {% if topHeaderInfo.salesRepresentativeEmail != null %}-->
  <!--  <span class="pl-2"><i class="ion-android-mail"></i> {{ topHeaderInfo.salesRepresentativeEmail }}</span>-->
  <!--  {% endif %}-->
  <!--  {% if topHeaderInfo.salesRepresentativeName != null or topHeaderInfo.salesRepresentativePhone != null or topHeaderInfo.salesRepresentativeEmail != null %}-->
  <!--  <span class="px-2">|</span>-->
  <!--  {% endif %}-->
  <!--  {% if topHeaderInfo.customerName != null or topHeaderInfo.customerBalance != null %}-->
  <!--  <div class="customer-info d-inline-flex">-->
  <!--    {% if topHeaderInfo.customerName != null %}-->
  <!--    <span class="three-dots w-50" title="{{ topHeaderInfo.customerName }}">{{ topHeaderInfo.customerName }}</span>-->
  <!--    {% endif %}-->
  <!--    {% if topHeaderInfo.customerBalance != null %}-->
  <!--    <span>{{ topHeaderInfo.customerBalance | number_format(2, '.', ',') }} {{ topHeaderInfo.customerCurrency }}</span>-->
  <!--    {% endif %}-->
  <!--  </div>-->
  <!--  {% endif %}-->
</div>

<div class="main-header">
  <div class="row m-0 py-3 px-md-0">
    <div class="col-md-3 col-sm-3 col-xs-3 p-0 brand">
      <a routerLink="/">
        <img src="assets/images/logo/logo.png">
      </a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9 responsive-header">
      <div class="row">
        <div class="col-md-9 col-sm-12 p-0 pr-md-3 pt-2 pt-md-0">
          <div class="search">
            <input type="text" class="form-control search-input" placeholder="{{ 'MAIN.SEARCH' | translate }}">
            <select name="category">
              <option value="all">{{ 'MAIN.ALL' | translate }}</option>
              <option *ngFor="let mainCategory of mainCategories$ | async"
                      [value]="mainCategory">{{ mainCategory.name }}</option>
            </select>
            <button class="btn">
              <i class="flaticon-search-2"></i>
            </button>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 p-0">
          <div class="menu-toggle d-md-none" (click)="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span class="m-0"></span>
          </div>
          <div class="header-right">
            <ng-container *ngIf="(isAuthenticated$ | async) else unAuthorized">
              <div class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle">
                  <i class="flaticon-user-line"></i>
                  <span class="d-lg-block">{{ 'MAIN.MY_ACCOUNT' | translate }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item">{{ 'MAIN.ORDERS' | translate }}</a>
                  <a class="dropdown-item">{{ 'MAIN.ACCOUNT_STATEMENT' | translate }}</a>
                  <button class="dropdown-item" type="button">BA-BS</button>
                  <a class="dropdown-item">{{ 'MAIN.PAYMENT' | translate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">{{ 'MAIN.ACCOUNT_SETTINGS' | translate }}</a>
                  <a class="dropdown-item" (click)="logout()">{{ 'MAIN.LOGOUT' | translate }}</a>
                </div>
              </div>
              <div class="dropdown" *ngIf="cartItems$ | async as cartItems">
                <a href="javascript:void(0);" class="ml-2 ml-md-4 dropdown-toggle">
                  <span class="cart-num d-block">{{ cartItems.length }}</span>
                  <i class="flaticon-shopping-cart-line"></i>
                  <span class="d-lg-block">Sepet</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right mini-cart-content"
                     *ngIf="cartItems.length else emptyCart">
                  <div class="total-count">
                    <span>{{ cartItems.length }} ÜRÜN</span>
                  </div>
                  <div class="cart-product-list">
                    <ul>
                      <li class="item" *ngFor="let item of cartItems">
                        <div class="product-details">
                          <a href="#">{{ item.product?.name }}</a>
                          <span class="quantity-price float-left">
                            {{ item.quantity }} -
                            <app-product-price [product]="item.product" [priceType]="'defaultPrice'"></app-product-price>
                          </span>
                        </div>
                        <div class="product-image">
                          <app-product-image [src]="item.product.image" [size]="80" [alt]="item.product.name"></app-product-image>
                        </div>
                        <div class="product-delete">
                          <i class="ion-close-round" (click)="cartRemoveProduct(item.product, item.id)"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="cart-total-price">
                    <p class="m-0">TUTAR: <span class="float-right"><app-cart-price [cartItems]="cartItems" type="subTotal"></app-cart-price></span></p>
                    <p>KDV DAHİL: <span class="float-right"><app-cart-price [cartItems]="cartItems" type="total"></app-cart-price></span></p>
                    <div class="row">
                      <div class="col-6 pr-2">
                        <button type="button" (click)="cartClear()" class="btn btn-danger w-100">
                          TEMİZLE
                        </button>
                      </div>
                      <div class="col-6 pl-2">
                        <a class="btn btn-primary w-100 float-right" routerLink="cart">SEPETE GİT</a>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #emptyCart>
                  <div class="dropdown-menu dropdown-menu-right mini-cart-content empty">
                    <i class="flaticon-shopping-cart-line"></i>
                    <span>SEPETİNİZ BOŞ!</span>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #unAuthorized>
              <div class="dropdown">
                <a routerLink="auth/login" class="dropdown-toggle">
                  <i class="flaticon-user-line"></i>
                  <span class="d-lg-block">{{ 'MAIN.LOGIN' | translate }}</span>
                </a>
              </div>
              <div class="dropdown">
                <a routerLink="cart" class="ml-2 ml-md-4 dropdown-toggle">
                  <span class="cart-num d-block">0</span>
                  <i class="flaticon-shopping-cart-line"></i>
                  <span class="d-lg-block">Sepet</span>
                </a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #categoryTree let-category="category">
  <li [class.flyout-right]="category.children.length">
    <a href="javascript:void(0);" (click)="navigateToProductList(category)">{{ category.name }}</a>
    <ul class="animated fadeIn" *ngIf="category.children.length">
      <ng-template *ngFor="let childCategory of category.children"
                   [ngTemplateOutlet]="categoryTree"
                   [ngTemplateOutletContext]="{category: childCategory}"></ng-template>
    </ul>
  </li>

</ng-template>

<div class="row m-0">
  <div class="mega-menu-container hidden-sm-down">
    <ul class="mega-menu">
      <li class="drop-down">
        <a href="javascript:void(0);"><i class="flaticon-menu pr-1"></i> {{ 'MAIN.CATEGORIES' | translate }}</a>
        <ng-container *ngIf="(mainCategories$ | async) as mainCategories">
          <ul class="drop-down-ul animated fadeIn" *ngIf="mainCategories.length">
            <ng-template *ngFor="let mainCategory of mainCategories"
                         [ngTemplateOutlet]="categoryTree"
                         [ngTemplateOutletContext]="{category: mainCategory}"></ng-template>
          </ul>
        </ng-container>
      </li>
      <li><a routerLink="product/list"><i class="ion-android-search"></i> {{ 'MAIN.PRICE_LIST' | translate }}</a></li>
      <li><a routerLink="auth/login"><i class="ion-ios-cart"></i> {{ 'MAIN.CART' | translate }}</a></li>
      <li><a><i class="ion-clipboard"></i> {{ 'MAIN.ORDERS' | translate }}</a></li>
      <li><a><i class="ion-ios-briefcase"></i> {{ 'MAIN.ACCOUNT_STATEMENT' | translate }}</a></li>
      <li><a><i class="ion-card"></i> {{ 'MAIN.PAYMENT' | translate }}</a></li>
      <div class="slidingVertical d-lg-block d-none">
        <ng-container *ngFor="let currency of currenciesWithoutMainCurrency$ | async">
          <span>{{ currency.symbol }} {{ currency.exchangeRate | number }}</span>
        </ng-container>
      </div>
    </ul>
  </div>
  <!--Mobile Menu-->
  <div class="accordion" id="accordionExample" role="tablist" aria-multiselectable="true">
    <ul class="wt-mobile-menu menu-items">
      <li><a routerLink="product/list" (click)="toggleMobileMenu()"><i
        class="ion-android-search"></i> {{ 'MAIN.PRICE_LIST' | translate }}</a></li>
      <li><a><i class="ion-ios-cart"></i> {{ 'MAIN.CART' | translate }}</a></li>
      <li><a><i class="ion-clipboard"></i> {{ 'MAIN.ORDERS' | translate }}</a></li>
      <li><a><i class="ion-ios-briefcase"></i> {{ 'MAIN.ACCOUNT_STATEMENT' | translate }}</a></li>
      <li><a><i class="ion-card"></i> {{ 'MAIN.PAYMENT' | translate }}</a></li>
      <!--      {% if topHeaderInfo.customerName != null %}-->
      <!--      <li style="position: absolute; bottom: 30px;">{{ topHeaderInfo.customerName }}</li>-->
      <!--      {% endif %}-->
      <!--      {% if topHeaderInfo.customerBalance != null %}-->
      <!--      <li style="position: absolute; bottom: 5px;">Bakiye: <span-->
      <!--        class="text-danger">{{ topHeaderInfo.customerBalance | number_format(2, '.', ',') }} {{ topHeaderInfo.customerCurrency }}</span>-->
      <!--      </li>-->
      <!--      {% endif %}-->
    </ul>
  </div>
  <!--Mobile Menu-->
</div>
