<div class="top-bar d-none d-md-block">
  <app-language-selection></app-language-selection>
  <span class="float-right px-2">|</span>
<!--  {{ react_component('AppRedux', {props: {'container': 'CurrencyList'}}) }}-->

<!--  {% if topHeaderInfo.salesRepresentativeName != null or topHeaderInfo.salesRepresentativePhone != null or topHeaderInfo.salesRepresentativeEmail != null %}-->
<!--  <span class="font-weight-500">Temsilciniz:</span>-->
<!--  {% endif %}-->
<!--  {% if topHeaderInfo.salesRepresentativeName != null %}-->
<!--  <span class="pl-2"><i class="ion-ios-person"></i> {{ topHeaderInfo.salesRepresentativeName }}</span>-->
<!--  {% endif %}-->
<!--  {% if topHeaderInfo.salesRepresentativePhone != null %}-->
<!--  <span class="pl-2"><i class="ion-ios-telephone"></i> {{ topHeaderInfo.salesRepresentativePhone }}</span>-->
<!--  {% endif %}-->
<!--  {% if topHeaderInfo.salesRepresentativeEmail != null %}-->
<!--  <span class="pl-2"><i class="ion-android-mail"></i> {{ topHeaderInfo.salesRepresentativeEmail }}</span>-->
<!--  {% endif %}-->
<!--  {% if topHeaderInfo.salesRepresentativeName != null or topHeaderInfo.salesRepresentativePhone != null or topHeaderInfo.salesRepresentativeEmail != null %}-->
<!--  <span class="px-2">|</span>-->
<!--  {% endif %}-->
<!--  {% if topHeaderInfo.customerName != null or topHeaderInfo.customerBalance != null %}-->
<!--  <div class="customer-info d-inline-flex">-->
<!--    {% if topHeaderInfo.customerName != null %}-->
<!--    <span class="three-dots w-50" title="{{ topHeaderInfo.customerName }}">{{ topHeaderInfo.customerName }}</span>-->
<!--    {% endif %}-->
<!--    {% if topHeaderInfo.customerBalance != null %}-->
<!--    <span>{{ topHeaderInfo.customerBalance | number_format(2, '.', ',') }} {{ topHeaderInfo.customerCurrency }}</span>-->
<!--    {% endif %}-->
<!--  </div>-->
<!--  {% endif %}-->
</div>

<div class="main-header">
  <div class="row m-0 py-3 px-md-0">
    <div class="col-md-3 col-sm-3 col-xs-3 p-0 brand">
      <a routerLink="/">
        <img src="assets/images/logo/logo.png">
      </a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9 responsive-header">
      <div class="row">
        <div class="col-md-9 col-sm-12 p-0 pr-md-3 pt-2 pt-md-0">
          <div class="search">
            <input type="text" class="form-control search-input" placeholder="{{ 'MAIN.SEARCH' | translate }}">
            <select name="category">
              <option value="all">{{ 'MAIN.ALL' | translate }}</option>
<!--              {% for category in mainCategories %}-->
<!--              <option {{ searchCategory== category.id ?-->
<!--              'selected = "selected"' : '' }}-->
<!--              value="{{ category.id }}">{{ category.name }}</option>-->
<!--              {% endfor %}-->
            </select>
            <button class="btn">
              <i class="flaticon-search-2"></i>
            </button>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 p-0">
          <div class="menu-toggle d-md-none" id="toggleMenu">
            <span></span>
            <span></span>
            <span class="m-0"></span>
          </div>
          <div class="header-right">
            <div class="dropdown">
              <ng-container *ngIf="(isAuthenticated$ | async) else unAuthorized">
                <a href="javascript:void(0);" class="dropdown-toggle" id="dropdownAccountButton"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="flaticon-user-line"></i>
                  <span class="d-lg-block">{{ 'MAIN.MY_ACCOUNT' | translate }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="dropdownAccountButton">
                  <a class="dropdown-item">{{ 'MAIN.ORDERS' | translate }}</a>
                  <a class="dropdown-item">{{ 'MAIN.ACCOUNT_STATEMENT' | translate }}</a>
                  <button class="dropdown-item" type="button" data-toggle="modal"
                          data-target="#ba-bs-modal">BA-BS
                  </button>
                  <a class="dropdown-item">{{ 'MAIN.PAYMENT' | translate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">{{ 'MAIN.ACCOUNT_SETTINGS' | translate }}</a>
                  <a class="dropdown-item" (click)="logout()">{{ 'MAIN.LOGOUT' | translate }}</a>
                </div>
              </ng-container>
              <ng-template #unAuthorized>
                <a routerLink="auth/login" class="dropdown-toggle">
                  <i class="flaticon-user-line"></i>
                  <span class="d-lg-block">{{ 'MAIN.LOGIN' | translate }}</span>
                </a>
              </ng-template>
            </div>
<!--            {{ react_component('AppRedux', {props: {'container': 'CartIcon', 'isAuthenticated': isAuthenticated}}) }}-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--{% macro recursiveCategory(category, withUri) %}-->
<!--<li class="{{ category.children|length ? 'flyout-right' }}">-->
<!--  <a href="{{ withUri ? url('catalog_category', {'url': category.seo ~ '-c-' ~ category.id }) : '#' }}">{{ category.name }}</a>-->

<!--  {% if category.children|length %}-->
<!--  <ul class="animated fadeIn">-->
<!--    {% for child in category.children %}-->
<!--    {{ _self.recursiveCategory(child, true) }}-->
<!--    {% endfor %}-->
<!--  </ul>-->
<!--  {% endif %}-->
<!--</li>-->
<!--{% endmacro %}-->

<div class="row m-0">
  <div class="mega-menu-container hidden-sm-down">
    <ul class="mega-menu">
      <li class="drop-down">
        <a href="javascript:void(0);"><i class="flaticon-menu pr-1"></i> {{ 'MAIN.CATEGORIES' | translate }}</a>
<!--        {% if mainCategories %}-->
<!--        <ul class="drop-down-ul animated fadeIn">-->
<!--          {% for category in mainCategories %}-->
<!--          {{ _self.recursiveCategory(category, true) }}-->
<!--          {% endfor %}-->
<!--        </ul>-->
<!--        {% endif %}-->
      </li>
      <li><a routerLink="product/list"><i class="ion-android-search"></i> {{ 'MAIN.PRICE_LIST' | translate }}</a></li>
      <li><a routerLink="auth/login"><i class="ion-ios-cart"></i> {{ 'MAIN.CART' | translate }}</a></li>
      <li><a><i class="ion-clipboard"></i> {{ 'MAIN.ORDERS' | translate }}</a></li>
      <li><a><i class="ion-ios-briefcase"></i> {{ 'MAIN.ACCOUNT_STATEMENT' | translate }}</a></li>
      <li><a><i class="ion-card"></i> {{ 'MAIN.PAYMENT' | translate }}</a></li>
      <div class="slidingVertical d-lg-block d-none">
<!--        {% for cr in currency.currencies %}-->
<!--        {% if cr.exchangeRate > 1 %}-->
<!--        <span>{{ cr.symbol }} {{ cr.exchangeRate | number_format(4) }}</span>-->
<!--        {% endif %}-->
<!--        {% endfor %}-->
      </div>
    </ul>
  </div>
  <!--Mobile Menu-->
  <div class="accordion" id="accordionExample" role="tablist" aria-multiselectable="true">
    <ul class="wt-mobile-menu menu-items">
      <li><a><i class="ion-android-search"></i> {{ 'MAIN.PRICE_LIST' | translate }}</a></li>
      <li><a><i class="ion-ios-cart"></i> {{ 'MAIN.CART' | translate }}</a></li>
      <li><a><i class="ion-clipboard"></i> {{ 'MAIN.ORDERS' | translate }}</a></li>
      <li><a><i class="ion-ios-briefcase"></i> {{ 'MAIN.ACCOUNT_STATEMENT' | translate }}</a></li>
      <li><a><i class="ion-card"></i> {{ 'MAIN.PAYMENT' | translate }}</a></li>
<!--      {% if topHeaderInfo.customerName != null %}-->
<!--      <li style="position: absolute; bottom: 30px;">{{ topHeaderInfo.customerName }}</li>-->
<!--      {% endif %}-->
<!--      {% if topHeaderInfo.customerBalance != null %}-->
<!--      <li style="position: absolute; bottom: 5px;">Bakiye: <span-->
<!--        class="text-danger">{{ topHeaderInfo.customerBalance | number_format(2, '.', ',') }} {{ topHeaderInfo.customerCurrency }}</span>-->
<!--      </li>-->
<!--      {% endif %}-->
    </ul>
  </div>
  <!--Mobile Menu-->
</div>
