<ng-template #loading>
  <h4>LOADING</h4>
</ng-template>

<div class="container" *ngIf="productListResult else loading">
  <div class="row mb-4">
    <div class="col-md-3 pr-0 sidepanel-container">
      <div id="filterPanel">
        <button class="close-filter-btn"><i class="ion-close-round"></i></button>
        <div class="column-left">
          <div class="box">
            <div class="box-heading">
              {{ 'MAIN.CATEGORIES' | translate }}
            </div>
            <div class="box-body">
              <div class="filter-box">
                <div class="item">
                  <ng-container *ngIf="parentCategory else defaultCategoryListPanel">
                    <ul>
                      <li class="category-level-1">
                        <a href="javascript:void(0);" class="category-link" (click)="onCategoryFilterChange(+parentCategory.id)">
                          {{ parentCategory.name }}
                        </a>
                      </li>
                      <li class="category-level-2" *ngFor="let category of productListResult.categories">
                        <a href="javascript:void(0);" class="category-link" (click)="onCategoryFilterChange(+category.id)"> {{ category.name }}
                          ({{ category.productCount }})
                        </a>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-template #defaultCategoryListPanel>
                    <div class="accordion">
                      <div class="panel panel-default" *ngFor="let category of productListResult.categories">
                        <div class="panel-heading">
                          <a href="javascript:void(0);" class="category-link" (click)="onCategoryFilterChange(+category.id)"> {{ category.name }}
                            ({{ category.productCount }})
                          </a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <!--Filter Box-->
          <div class="box mt-4 filters">
            <div class="box-body">
              <div class="filter-box brand">
                <ng-container *ngIf="productListResult.brands.length">
                  <h5>{{ 'MAIN.BRAND' | translate }}</h5>
                  <div class="item">
                    <label class="b2b-checkbox" *ngFor="let brand of productListResult.brands | productFilterOptionSortByCheckedFirst: brands">
                      <input class="brand-checkbox" type="checkbox" [checked]="brands[brand.id]" (change)="onBrandFilterChange(+brand.id)">{{ brand.name }}
                      ({{ brand.productCount }})
                      <span></span>
                    </label>
                  </div>
                </ng-container>
                <ng-container *ngIf="productListResult.models.length">
                  <h5>MODEL</h5>
                  <div class="item">
                    <label class="b2b-checkbox" *ngFor="let model of productListResult.models | productFilterOptionSortByCheckedFirst: models">
                      <input class="brand-checkbox" type="checkbox" [checked]="models[model.id]" (change)="onModelFilterChange(+model.id)">{{ model.name }}
                      ({{ model.productCount }})
                      <span></span>
                    </label>
                  </div>
                </ng-container>
                <h5>Fiyat Aralığı</h5>
                <div class="item mb-3 mt-3">
                  <div class="range-input">
                    <input type="text" class="form-control" placeholder="En az" [(ngModel)]="catalogFilterOptions.priceRange.min" (keyup.enter)="filterByPriceRange()">
                    <span>-</span>
                    <input type="text" class="form-control" placeholder="En çok" [(ngModel)]="catalogFilterOptions.priceRange.max" (keyup.enter)="filterByPriceRange()">
                    <button type="button" class="btn btn-primary" (click)="filterByPriceRange()">
                      <i class="ion-chevron-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row product-list-top">
        <div class="col-6">
          <p class="m-0">{{ productListResult.products.total }} ürün bulundu.</p>
        </div>
        <div class="col-6">
          <div class="sort-by-row" (appClickOutside)="sorterPanelVisibility && toggleSorterPanelVisibility()" (click)="toggleSorterPanelVisibility()">
            <span class="hidden-sm-down sort-by">Sırala:</span>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button">
                {{ catalogSortingFields[activeCatalogSorting].translate | translate }}
              </button>
              <div class="dropdown-menu dropdown-menu-right d-block" *ngIf="sorterPanelVisibility">
                <a class="dropdown-item"
                   *ngFor="let field of catalogSortingFields | keyvalue: null"
                   (click)="changeSort(field.key)">
                  {{ field.value.translate | translate }}</a>
              </div>
            </div>
          </div>
          <div class="list-type pr-2">
            <button class="btn btn-link pl-1">
              <i class="flaticon-list"></i>
            </button>
            <button class="btn btn-link pl-1">
              <i class="flaticon-menu-grid"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="product-list-view">
          <table>
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Kodu</th>
              <th>Adı</th>
              <th>Marka</th>
              <th>Model</th>
              <th>Miktar</th>
              <th>Liste Fiyatı</th>
              <th>Özel Fiyat</th>
              <th>Kdv</th>
              <th>Stok</th>
              <th>Depo</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productListResult.products.items">
                <td class="p-0">
                  <a href="">
                    <app-product-image [src]="product.image" [size]="80" [alt]="product.name"></app-product-image>
                  </a>
                </td>
                <td>
                  <a href="">{{ product.code }}</a>
                </td>
                <td>
                  <a href="" style="white-space: normal">{{ product.name }}</a>
                </td>
                <td>
                  <a href="">{{ product.brand?.name }}</a>
                </td>
                <td>
                  <a href="">{{ product.model?.name }}</a>
                </td>
                <td>

                </td>
                <td>
                  <app-product-price [product]="product" [priceType]="'listPrice'"></app-product-price>
                </td>
                <td>
                  <app-product-price [product]="product" [priceType]="'defaultPrice'"></app-product-price>
                </td>
                <td>
                  {{ product.taxRate }}
                </td>
                <td></td>
                <td></td>
                <td>
                  <app-add-to-cart-button [product]="product" [quantity]="1"></app-add-to-cart-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <app-pagination [page]="productListResult.products.page" [pages]="productListResult.products.totalPage" (onPageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>
<button class="btn open-filter-btn"><i class="ion-funnel"></i></button>
