<div class="footer-content pb-3">
  <div class="container">
    <div class="row px-4 p-sm-0">
      <div class="col-md-3 col-sm-6 mb-3 mb-md-0">

      </div>
      <div class="col-md-3 col-sm-6 mb-3 mb-md-0">

      </div>
      <div class="col-md-3 col-sm-6 mb-3 mb-md-0">

      </div>
      <div class="col-md-3 col-sm-6 mb-3 mb-md-0">
        <h3>{{ 'MAIN.CONTACT_US' | translate }}</h3>
        <p>{{ 'MAIN.ADDRESS' | translate }}: {{ shop?.address }}</p>
        <p>{{ 'MAIN.PHONE' | translate }}: {{ shop?.phone }}</p>
        <p>{{ 'MAIN.EMAIL' | translate }}: <a href="mailto:{{ shop?.email }}">{{ shop?.email }}</a></p>
        <p><a>{{ 'MAIN.DEALERSHIP_FORM' | translate }}</a></p>
<!--        {{ store?.description | htmlContentPipe }}-->
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <p class="text-center text-sm-left mb-2 mb-sm-0">&copy; {{ currentYear }} {{ shop?.name }}. {{ 'MAIN.ALL_RIGHTS_RESERVED' | translate }}</p>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-center justify-content-sm-end">
          <img src="assets/images/svg/mastercard.svg" height="30px" class="mr-3">
          <img src="assets/images/svg/visa.svg" height="30px" class="mr-3">
          <img src="assets/images/svg/american-express.svg" height="30px">
        </div>
      </div>
    </div>
  </div>
</div>
